.search {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;

    .input-container {
        padding: 8px;
        border: 1px solid black;
    }

    input {
        padding: 10px;
        // font-size: 0.8rem;
        border: none;
        outline:none;
    }
}

.breadcr {
    padding: 15px 0;
    font-size: 1.2rem;
}

.sort {
        display: flex;
    align-items: center;
    justify-content: center;
    i {
        font-size: 1.4rem;
        margin: 0 5px;
    }
}
.sortname {
    display: flex;
    align-items: center;
    justify-content: center;        
    i {
        font-size: 1.4rem;
        margin: 0 5px;
    }

}