#landing-image {
    // background: red;
    background: url('/img/background-6.jpg');
}

header {

    color: white;    

    #nav {
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;  
        
        li {
            margin-left: 40px;
            a {
                color: white;
            }
            a:visited {
                color: white;  
            }
            a:hover {
                color: #ccc;
            }
        }

        .nav-left {
            display: flex;
            
            .logo {
                margin-right: 50px;
            }
            
            li {
                padding-top: 30px;
            }
        }
        .nav-right {
            display: flex;
        }
    }

    
    .cart-counter {
        display: inline-block;
        background: yellow;
        border-radius: 50%;
        color: black;
        margin-left: 5px;
        padding: 0 5px;
        text-align: center;

    }

    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 80px;
        padding-bottom: 100px;

        img {
            width: 100%;
        }

        h1 {
            font-size: 52px;
            margin-top: 50px;
        }

        p {
            margin: 40px 0 68px;
        }
    }    

}


